# Web & Server
fastapi
gunicorn
uvicorn[standard]
python-multipart

# Database & ORM
alembic
sqlalchemy
psycopg2-binary
mongoengine
motor
redis

# Background Worker
celery

# Audio & Scientific Computing
librosa
noisereduce
numpy
scipy
soundfile

# Security & Authentication
python-jose[cryptography]
PyJWT
passlib[bcrypt]
bcrypt
email-validator
pydantic[email]